@use "mixins" as m;
@use "vars" as v;

.publications {
  background: v.$bg-color;
}
.container {
}

.publications__container {
}
.publication__header {
  padding: 30px 0;
  @media screen and (min-width: v.$breakpoint-lg) {
    max-width: 525px;
  }
}
.Publications-link {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: v.$regular-color;
}
.publications-link__text {
  letter-spacing: 1px;
}
.Publications-link__arrow {
}
.publication__title {
  display: inline-block;
  @include m.title;
  @include m.gradient-text;
  max-width: 315px;
  @media screen and (min-width: v.$breakpoint-md) {
    white-space: nowrap;
    max-width: 100%;
    padding-bottom: 10px;
    margin-bottom: -10px;
  }
}
.publications__grid {
  @media screen and (min-width: v.$breakpoint-md) {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
  }
}
.publications__item {
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
  @media screen and (min-width: v.$breakpoint-md) {
    flex-wrap: wrap;
    flex: 1 1 47%;
  }
  @media screen and (min-width: v.$breakpoint-lg) {
    flex: 1 1 30%;
  }
}
.pub-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.pub-content {
  display: flex;
  flex-direction: column;
  background: v.$basic-white;
  padding: 30px;
  gap: 15px;
  @media screen and (min-width: v.$breakpoint-md) {
    flex-direction: column;
    flex-grow: 1;
  }
}
.pub-title {
  font-size: 16px;
  font-weight: 700;
  display: block;
  text-decoration: none;
  color: v.$regular-color;
}
.pub-date {
  font-size: 12px;
  font-weight: 700;
  color: v.$text-color;
}
.pub-line {
  border: none;
  background-color: v.$separator-color;
  width: 100%;
  height: 4px;
}
.pub-text {
  color: black;
  font-size: 14px;
  font-weight: 400;
}
