@use "vars" as v;

.footer {
  // display: flex;
  padding-top: 30px;
  background-color: v.$bg-color;
  @media screen and (min-width: v.$breakpoint-md) {
    padding-bottom: 30px;
  }
}
.container {
}
.footer__container {
  padding: 30px;
  background: v.$bg-color;
  display: flex;
  flex-direction: column;
  gap: 30px;

  // border-top: 2px solid #e6e6f0;
  // width: 100%;
  @media screen and (min-width: v.$breakpoint-md) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 2px solid #e6e6f0;
    padding-top: 30px;
  }
  @media screen and (min-width: v.$breakpoint-xl) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 2px solid #e6e6f0;
    padding-top: 30px;
  }
  @media screen and (min-width: v.$breakpoint-xxl) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 2px solid #e6e6f0;
    padding-top: 30px;
  }
}
.footer__border {
  width: 100%;
  border-top: 2px solid #e6e6f0;
  @media screen and (min-width: v.$breakpoint-md) {
    display: contents;
  }
}
.footer__contacts {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: v.$breakpoint-md) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 100%;
  }
}

.footer__row-top,
.footer__row-bottom {
  display: contents;

  align-items: center;
  gap: 10px;
  @media screen and (min-width: v.$breakpoint-md) {
    display: flex;
    flex-direction: row;
  }
}
.footer__sentence {
}
.footer__row-bottom {
  @media screen and (min-width: v.$breakpoint-md) {
    order: 1;
  }
  @media screen and (min-width: v.$breakpoint-xl) {
    width: 100%;
    order: 1;
  }
}

.footer__address {
  font-size: 16px;
  font-weight: 400;
  @media screen and (min-width: v.$breakpoint-md) {
  }
}
.footer__map-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  color: v.$regular-color;
}
.footer__social {
  margin-top: 11px;
  margin-bottom: 11px;
}
.footer__svg {
  width: 38px;
  height: 38px;
}
.footer__facebook {
}
.footer__phone {
  font-size: 16px;
  font-weight: 700;
  display: block;
  color: v.$alt-color;
  text-decoration: none;
  @media screen and (min-width: v.$breakpoint-md) {
    white-space: nowrap;
  }
}
.footer__email {
  font-weight: 700;
  font-size: 16px;
  display: block;
  color: v.$regular-color;
  text-decoration: none;
}
.footer__hlegal {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: v.$text-color;
  @media screen and (min-width: v.$breakpoint-md) {
    // margin: 0;
    // text-align: right;
  }
}
