@use "mixins" as m;
@use "vars" as v;

.main {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.main__one {
}
.main__two {
  padding: 0 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 60px;
  overflow: hidden;
}
.main__two-header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  @media screen and (min-width: v.$breakpoint-md) {
    flex-direction: column;
    justify-content: center;
    margin: 60px auto 60px 0;
    gap: 10px;
  }
  @media screen and (min-width: v.$breakpoint-lg) {
    margin: 60px auto 60px 0;
  }
}
.service-link {
  font-weight: 700;
  text-decoration: none;
  display: block;
  color: v.$regular-color;
}
.service-link__text {
  font-size: 14px;
  text-transform: uppercase;
}
.service-link__arrow {
}
.main_two-title {
  display: inline-block;
  @include m.title;
  @include m.gradient-text;
}
.main__two-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  @media screen and (min-width: v.$breakpoint-md) {
    gap: 60px;
  }
  @media screen and (min-width: v.$breakpoint-lg) {
    gap: 60px;
    flex: 1 1 50%;
  }

  .advantage-card {
    flex: 1 1 100%;
    padding: 122px 0 0;
    position: relative;
    @media screen and (min-width: v.$breakpoint-md) {
      flex: 1 1 calc(50% - 30px);
    }
    @media screen and (min-width: v.$breakpoint-lg) {
      flex: 1 1 calc(33% - 120px);
    }
  }
}
.advantage-card__title {
  color: v.$regular-color;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
}
.advantage-card__text {
  color: v.$basic-white;
  font-weight: 400;
  font-size: 16px;
}
.card-one::before {
  content: "      ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 122px;

  background: url(..//img/icons/one.svg) no-repeat;
}
.card-two::before {
  content: "      ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 122px;

  background: url(..//img/icons/two.svg) no-repeat;
}
.card-three::before {
  content: "      ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 122px;

  background: url(..//img/icons/three.svg) no-repeat;
}
.card-four::before {
  content: "      ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 122px;

  background: url(..//img/icons/four.svg) no-repeat;
}
.card-five::before {
  content: "      ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 122px;

  background: url(..//img/icons/five.svg) no-repeat;
}

.card-six::before {
  content: "      ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 122px;

  background: url(..//img/icons/six.svg) no-repeat;
}
.stripe-block__container {
  position: relative;

  ::before {
    content: "      ";
    position: absolute;
    // width: 100%;
    top: 0;
    right: 20px;
    left: 20px;
    height: 10px;
    background: #cacadb;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  ::after {
    content: "      ";
    position: absolute;

    top: 10px;
    right: 40px;
    left: 40px;
    height: 10px;
    background: #e7e7f2;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  @media screen and (min-width: v.$breakpoint-md) {
  }
}
