.white {
  display: block;
  background: $basic-white;
  width: 375px;
  height: 60px;
}
.main__three {
}
.main__three-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.main__three-imgs {
}
.cards-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-one {
}
.img-two {
}
.img-three {
}
.img-four {
}
.five {
}
.six {
}
