@use "vars" as v;

@mixin title($color: v.$text-color) {
  font-size: 30px;
  font-weight: 700;
  color: $color;

  @media screen and (min-width: v.$breakpoint-md) {
    font-size: 38px;
  }
}
@mixin gradient-text($color: v.$gradient-red-text) {
  color: transparent;
  background: $color;
  background-clip: text;
}
